<!DOCTYPE html>

<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Wellness</title>
    <link rel="stylesheet" href="./style.css"/>
</head>
<body>
  
<header>
    <div class=para>
        <!-- <a href='./a.html'><img class=logo src="./img/logo.png"></img></a> -->
        <a href='./index.html' class=logo-link><p class=logo-text>WELLNESS</p></a>
        <input class=search-bar placeholder="예시: 어깨가 뻐근할 때">
        <button class=search-btn>Search</button>
        <div class=admin-loc>
            <button class=admin-btn>Login</button>
            <button class=admin-btn>Register</button>
        </div>
    </div>
    
    <div>
        <nav>
            <ul>
                <li><a href='./index.html' class=nav-menu>Home</a></li>
                <li><a href='./temp.html' class=nav-menu>Workout</a></li>
                <li><a href='./temp.html' class=nav-menu>Diet</a></li>
                <li><a href='./temp.html' class=nav-menu>Community</a></li>
            </ul>
        </nav>
    </div>
</header>

<h1>Making...</h1>

<footer>
    <p class=footer-info>contact: junhr99@naver.com</p>
</footer>
<script src="./script.js"></script>
</body>

</html>
    
